name: Deploy Spring Boot to EC2

on:
  push:
    branches:
      - master   # change to your actual branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build JAR
        run: mvn clean package -DskipTests

      - name: Copy JAR to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}   # ubuntu or ec2-user
          key: ${{ secrets.EC2_KEY }}
          source: "target/*.jar"
          target: "/home/${{ secrets.EC2_USER }}/app"

      - name: Run App on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            mkdir -p /home/${{ secrets.EC2_USER }}/app
            pkill -f 'myAppBoot1' || true
            cd /home/${{ secrets.EC2_USER }}/app
            chmod +x myAppBoot1-0.0.1-SNAPSHOT.jar
            nohup java -jar myAppBoot1-0.0.1-SNAPSHOT.jar > app.log 2>&1 & disown
            sleep 5
            ps -ef | grep java
