- name: Run App on EC2
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.EC2_HOST }}
    username: ${{ secrets.EC2_USER }}
    key: ${{ secrets.EC2_KEY }}
    script: |
      echo "Stopping old app..."
      sudo pkill -f myAppBoot1 || true

      echo "Starting new app..."
      cd /home/${{ secrets.EC2_USER }}/app
      chmod +x myAppBoot1-0.0.1-SNAPSHOT.jar
      nohup java -jar myAppBoot1-0.0.1-SNAPSHOT.jar > app.log 2>&1 &

      echo "Waiting for app..."
      sleep 5
      ps -ef | grep java
